/terraform/*
!/terraform/main.tf
!/terraform/variables.tf
*.pyc
.venv
/src/pipeline/credentials.py
/src/pipeline/offset.txt
/tests
backupredme.md
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/logs